@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
    --sub-heading-color: #6d6d6d;
    --selected: #066aff;
    --text-input-bg-color: #fafafa;
}
p {
    line-height: 140%;
}
* {
    font-family: "Inter";
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
a {
    color: black;
    text-decoration: none;
}
header {
    width: 90%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1450px;
}
.TableLogo {
    font-weight: 600;
    font-size: 48px;
    color: black;
    text-decoration: none;
}
.footer-content-left > h1 {
    font-weight: 600;
    font-size: 48px;
}
.header-links {
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    font-weight: 600;
    font-size: 20px;
    color: var(--sub-heading-color);
}
.header-links > a {
    margin-left: 45px;
    color: var(--sub-heading-color);
    text-decoration: none;
}
.homeS1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1450px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.homeS1 .s1Text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.homeS1 > .s1Text {
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 2;
}
.homeS1 > .s1Text > .s1Disc > h1 {
    font-weight: 600;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 12px;
}
.homeS1 > .s1Text > .s1Disc > p {
    font-weight: 400;
    font-size: 20px;
    margin-top: 0px;
    color: var(--sub-heading-color);
}
.homeS1 > img {
    flex-grow: 2;
    margin-right: 12px;
}
.shopbigtitle {
    display: flex;
    width: 90%;
    max-width: 1450px;
    margin-top: 50px;
    font-size: 38px;
}
.purchasePrompt {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.price > h2 {
    font-size: 36px;
    margin: 0px;
}
.price > p {
    font-weight: 400;
    font-size: 24px;
    margin: 0px;
    color: var(--sub-heading-color);
}
.buyBtn {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    border: 1px solid black;
}

.buyBtn > p {
    margin: 0px;
}
.homeS2 {
    display: flex;
    width: 90%;
    max-width: 1450px;
    flex-direction: column;
    justify-content: flex-start;
}

.s2title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.s2title > h1 {
    font-weight: 600;
    font-size: 58px;
    margin-bottom: 22px;
}
.s2title > h2 {
    font-weight: 600;
    font-size: 40px;
    color: var(--sub-heading-color);
}
.s2panels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.s2panels > S2Box {
    margin: 12px;
}
img {
    border-radius: 22px;
    width: auto;
}
.S2Box {
    display: flex;
    width: 30%;
    flex-direction: column;
}
.S2Box > h1 {
    color: var(--sub-heading-color);
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 12px;
}
.homeS3 {
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 1450px;
}
.s3disc {
    margin-top: 45px;
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.s3disc > p {
    max-width: 50%;
}
.homeS3left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}
.homeS3 > img {
    object-fit: cover;
    height: 25%;
    width: auto;
}
.homeS3left > h1 {
    font-size: 58px;
    font-weight: 600;
}
.s3disc > p {
    font-size: 20px;
    color: var(--sub-heading-color);
    line-height: 140%;
}
.price > p {
    margin-top: 24px;
}
.buyBtn {
    min-width: 150px;
}
footer {
    width: 70%;
    margin-top: 120px;
    padding: 84px 0px;
    max-width: 1450px;
    border-top: solid 1px var(--sub-heading-color);
    display: flex;
    justify-content: space-between;
}
.footer-content-left > p {
    font-weight: 600;
    font-size: 20px;
    padding-top: 12px;
}
.footer-content-right > p {
    font-weight: 600;
    font-size: 20px;
    padding-top: 12px;
}
.footer-content-right > h1 {
    font-weight: 600;
    font-size: 48px;
}
.shopS1 {
    background-image: url(./Images/Table2.png);
    background-size: 100%;
    border-radius: 22px;
    display: flex;
    margin-top: 50px;
    width: 90%;
    max-width: 1450px;
    justify-content: space-between;
    height: 650px;
}
.shopS1Right {
    align-self: flex-start;
    padding: 55px;
}
.shopS1Right > h1 {
    font-size: 64px;
    font-weight: 600;
}
.shopS1Left {
    align-self: flex-end;
    padding: 55px;
    width: 35%;
}
.shopS1Left > p {
    font-weight: 250;
    font-size: 32px;
    font-style: italic;
}
.shopS3 {
    width: 90%;
    max-width: 1450px;
}
.shopS3 > h1 {
    font-size: 48px;
    font-weight: 600;
    color: var(--sub-heading-color);
}
.shopS3CardContainer {
    margin-top: 48px;
    display: flex;
    direction: row;
    justify-content: space-evenly;
}

.shopS3Card {
    width: 40%;
    border: 0.5px solid var(--sub-heading-color);
    box-shadow: 4px 4px 30px lightgray;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
}
.shopS3Card > img {
    mask-image: linear-gradient(to bottom, black 0, transparent 100%);
}
.shopS3Card > h1 {
    margin: -12px 32px 12px 32px;
    font-size: 40px;
    font-weight: 600;
}
.shopS3Card > p {
    margin: 0px 32px;
    font-weight: 400;
    font-size: 20px;
    color: var(--sub-heading-color);
}
.shopS3Card > .purchasePrompt {
    margin: 32px;
}
.studentDiscount {
    width: 90%;
    max-width: 1450px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    border: 0.5px solid var(--sub-heading-color);
    border-radius: 22px;
}
.studentDiscountText {
    margin: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.studentTop > h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 24px;
}
.studentTop > p {
    color: var(--sub-heading-color);
    font-size: 20px;
}
.onlyAtTable {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.onlyAtTable > p {
    color: var(--sub-heading-color);
    font-size: 20px;
    margin-right: 8px;
}
.supportLinks {
    display: flex;
    width: 90%;
    max-width: 1450px;
    margin-top: 50px;
    flex-direction: column;
}
.supportLinks > h1 {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 24px;
}
.faq > h1 {
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 24px;
    margin: 24px 0px;
}
.supportLinks > p {
    color: var(--sub-heading-color);
    font-size: 20px;
}
.question {
    width: 90%;
    border: 1px solid var(--sub-heading-color);
    border-radius: 22px;
    padding: 24px;
    margin: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.question > h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}
.question > p {
    font-size: 20px;
    margin-left: 12px;
    color: var(--sub-heading-color);
}
.purchaseArea {
    width: 90%;
    max-width: 1450px;
    display: flex;
}
.buyOptions {
    display: flex;
    flex-grow: 2;
    border: 0.5px solid #c2c2c2;
    flex-direction: column;
    padding: 42px;
    border-radius: 22px;
}

.buyOptions > h1 {
    font-weight: 600;
    font-size: 48px;
}
.opt > h1 {
    font-weight: 500;
    font-size: 36px;
    color: var(--sub-heading-color);
    margin-top: 40px;
}
.opt > p {
    font-size: 20px;
    font-weight: 400;
    color: var(--sub-heading-color);
}
.opt > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px;
    margin: 50px;
    align-items: center;
}
.opti {
    border: 1px solid var(--sub-heading-color);
    border-radius: 22px;
}
.select {
    border-radius: 22px;
    border: 2px solid var(--selected);
}
.cardDetails {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 0;
    border: 0.5px solid #c2c2c2;
    border-radius: 22px;
    padding: 42px;
    margin-left: 20px;
    height: min-content;
}

.cardDetails > h1 .select {
    border-radius: 22px;
    border: 2px solid var(--selected);
}
input::placeholder {
    font-size: 20px;
    font-weight: 600;
}
input {
    border: 1px solid #c2c2c2;
    padding: 22px;
    border-radius: 22px;
    margin: 16px 0px;
    background-color: var(--text-input-bg-color);
}
.checkoutCtnr {
    display: flex;
    width: 100%;
    justify-content: center;
}
.checkoutBtn {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    padding: 8px;
    background-color: var(--selected);
    border-radius: 50px;
    color: white;
}
.checkoutBtn > h2 {
    font-weight: 500;
}
.cardProviders {
    display: flex;
    max-width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
}
.cardContainer {
    display: flex;
    flex-direction: column;
}
.cardProviders > img {
    max-height: 2.725rem;
}
